.content-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .title {
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 600px;
    gap: 100px;
    margin: 28px;

    .nome-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 15px
      }

      h2 {
        font-style: italic;
      }
    }


    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }

  .paragraph-container {
    align-self: center;
    max-width: 600px;
    min-width: 200px;
    margin: 28px;
  }

  p {
    font-weight: 550;
    font-size: large;
    letter-spacing: 1px;
    line-height: 20px;

  }

  .p-1 {
    margin-bottom: 14px;
  }

  button {
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: large;
    align-self: center; 
    padding: 0.6rem;
    border: none;
    border-radius: 50px;
    transition-duration: 300ms;
  }

  button:hover {
    background-color: var(--fundo);
    color: black;
    border: 0.1rem solid black;
  }
}
