.content-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .title {
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 600px;
    gap: 200px;
    margin: 28px;
  }

  .paragraph-container {
    align-self: center;
    max-width: 600px;
    min-width: 200px;
    margin: 28px;
  }

  .p-1 {
    margin-bottom: 14px;
  }

  button {
    align-self: center; 
    max-width: 200px;
    min-width: 200px; 
  }
}
