<div class="content-container">
    <div class="title">
        <h1>Leticia Vandes</h1>
        <img src="assets/perfil.png" alt="foto de perfil">
    </div>
    <div class="paragraph-container">
        <p class="p-1">Se você deseja iniciar seu processo de psicoterapia e trilhar o seu caminho em direção a uma vida mais leve, alinhada aos seus valores e permeada por constante transformação e evolução.</p>
        <p>Clique no botão abaixo e entre em contato comigo para mais informações.</p>
    </div>
    <button (click)="handleClick()">quero fazer terapia ❤️</button>
</div>
