<div class="content-container">
    <div class="title">
        <h1>Leticia Vandes</h1>
        <img src="/assets/perfil.png" alt="foto de perfil da Leticia">
    </div>
    <div class="paragraph-container">
        <p class="p-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, explicabo.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis soluta, perferendis doloremque mollitia ratione vero.</p>
    </div>
    <button>quero fazer terapia</button>
</div>
